<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="com.ning.atlas.logging.ColorizedAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p\t%d{ISO8601}\t%t\t%c\t%m%n"/>
        </layout>
    </appender>
    <!-- com.ning.atlas -->

    <logger name="com.ning.atlas.SSH">
        <level value="info"/>
    </logger>

    <logger name="com.ning.atlas.virtualbox.VBoxProvisioner">
        <level value="info"/>
    </logger>

    <logger name="com.ning.atlas">
        <level value="debug"/>
    </logger>


    <!-- etc -->

    <logger name="com.amazonaws.request">
        <level value="warn"/>
    </logger>

    <logger name="net.schmizz.sshj">
        <level value="warn"/>
    </logger>

    <logger name="net.schmizz.sshj.transport.TransportImpl">
        <level value="fatal"/>
    </logger>

    <logger name="net.schmizz.concurrent.Event">
        <level value="fatal"/>
    </logger>

    <!-- root -->

    <root>
        <priority value="INFO"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>
