body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    max-width: 940px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 100%;
    color: #000; 
}
pre {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background: #FAFAFA;
    padding: 7px 10px;
    margin: 15px 0;
    border: 1px solid #C7C7C7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 1.3em;
}
code {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background: #FAFAFA;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-decoration: none;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}
h1 {
        font-size: 200%;
}

h2 {
        font-size: 150%;
}

h3 {
        font-size: 130%;
}

h4 {
        font-size: 110%;
        font-style: italic;
        text-decoration: underline;
}

h5 {
        font-size: 100%;
        font-style: italic;
        text-decoration: underline;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}
